@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;


.map {
  padding: 100px auto;
  background: #000;


  &__container{
    border: 1px solid #dcca87;
  }

  &__container {
    z-index: 1;
  }

  &__frame{
    @include desktop{
      padding: 30px 60px;
    }
    @include mobile{
      padding: 50px 40px;
    }
  }

  &__embed {
    width: 100%;
    padding: 16px 0;
    height: 350px;
    border: none;
    display: block;
    filter: grayscale(1) invert(1); 
  }
}   