@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;


.awards{

    &__container{
        background: url('../assets/imgs/history__background.jpg');
    }
    &__overlay{
        background: url('../assets/icons/history__opacity.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;



        @include desktop-lg{
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
        }

        @include desktop{
            padding-left: 40px;
            padding-right: 40px;
            display: flex;
            gap: 60px;
            flex-direction: column;
        }

        @include tablet{
            padding-left: 65px;
            padding-right: 20px;
        }
        @include mobile{
            padding-left: 15px;
            padding-right: 15px;
        }

        @media (max-width:850px){

        }
    }



    &__grids{

        @include desktop-lg{
            display: grid;
            gap: 28px;
            grid-template-columns: repeat(1,1fr);
        }
        @include desktop{
        }
    }

    &__g{
        right: 120px;

        @include desktop{
            right: 60px;
        }
        @include mobile{
            right: 10px;
        }
    }

    
    &__grid{

        @include desktop-lg{
            display: flex;
            gap: 28px;
        }
    }














    &__subtitle{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: var(--ffffff);
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: #dcca87;

        @include desktop-lg{
            padding-bottom: 50px;
        }
        @include desktop{
            padding-bottom: 25px;
        }
    }

    &__right {
    flex-shrink: 0;
    }

    &__figure {
    position: relative;   
    display: inline-block; 
    }

    &__food{
        min-width: 80%;
    }


    &__script{

        &-title{
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 23px;
            line-height: 130%;
            letter-spacing: 0.04em;
            text-transform: capitalize;
            color: #dcca87;
        }
        &-text{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #aaa;
        }

        @include desktop{
            padding: 0px 50px;
        }
        @include tablet{
            padding: 0px 10px;
        }
    }
}