@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;

.blogs{
    background: black;


    &__subtitle{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: var(--ffffff);
    }

    &__script{
        @include desktop-lg{
            margin-bottom: 56px;
        }
        @include desktop{
            margin-bottom: 56px;
        }
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: #dcca87;
    }



    &__top-date{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #fafafa;
        display: flex;
        justify-content: space-between;

        @include desktop{
            font-size: 14px;
        }
        @include desktop{
            font-size: 12px;
        }
    }



    &__top{
        
        @include desktop{
            margin-bottom: 20px;
        }
        @include tablet{
            margin-bottom: 15px;
        }

    }

    &__top-span{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #fafafa;

        @include desktop{
            font-size: 14px;
        }

        @include tablet{
            font-size: 12px;
        }


    }



    &__bottom{
        &-title{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: 0.04em;
            text-transform: capitalize;
            color: #dcca87;
            margin-bottom: 32px;

            @include desktop-lg{
                margin-bottom: 26px;
                font-size: 30px;
            }
            @include desktop{
                margin-bottom: 20px;
                font-size: 23px;
            }
            @include tablet{
                margin-bottom: 15px;
                font-size: 18px;
            }
        }

        &-text{
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 175%;
            letter-spacing: 0.04em;
            color: #aaa;
            margin-bottom: 20px;

            @include desktop{
                font-size: 14px;
            }
            @include tablet{
            font-size: 12px;
            margin-bottom: 13px;
            }
            
        }
    }

    &__blocks{

        @include desktop-lg{
            padding:0 100px ;
        }
        @include desktop{
            padding:0 30px;
        }
        @include tablet{
            padding:0 30px;
                        display: flex;
            flex-direction: column;
        }
        @include mobile{

            padding:0 20px;
        }

    }

    &__block-img{
        width: 100%;
    }

    &__link{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #dcca87;

        @include tablet{
            font-size: 14px;
        }
    }

    &__block-img{
        margin-bottom: 16px;
    }

    &__btn{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #0c0c0c;
        background: #dcca87;
        padding: 8px 32px;

    }
}