@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;


.chief{
    

    &__container{
        background: url("../assets/imgs/history__background.jpg");
        
    }

    &__img{
        @include tablet{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        }
    }

    &__overlay{
        background: url('../assets/icons/history__opacity.svg');

        @include desktop-lg{
        display: flex;
        gap: 60px;
        }
        @include desktop {
            display: flex;
            gap: 30px;
            padding-right:10px;            
            padding-left:10px;            

        }

        @include tablet{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
        }


    }

    &__dots{
        @include desktop{
            display: none;
        }
    }

    &__block{

        @include desktop{
            padding-top: 40px;
        }
    }

    &__words{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: var(--ffffff);
    }

    &__top{
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: #dcca87;

        @include desktop-lg{
            font-size: 50px;
        }
        @include tablet{
            font-size: 40px;
        }
        @include mobile{
            font-size: 35px;
        }
    }

    &__text{
        font-family: var(--second-family);
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #aaa;

        @include desktop{
            display: flex;
            align-items: start;
        }
    }

    &__subtext{
        font-family: var(--second-family);
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #aaa;
    }

    &__name{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: #dcca87;
    }

    &__position{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #aaa;

        @include desktop{
            margin-bottom: 10px;
        }
    }

    &__middle{
        @include desktop{
            margin-bottom: 55px;
        }
        @include tablet{
            margin-bottom: 30px;
        }
    }

    &__signature{
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.04em;
        color: #aaa;
    }
}


.chef {
    display: flex;
    gap: clamp(2rem, 5vw, 6rem);

    &__image {
        position: relative;
        flex: 1;
        padding: 2rem;

        &::before {
            content: "";
            position: absolute;
            inset: 0 auto auto 0;
            padding: 6rem;
            background: #dcca87;
            z-index: 3;
        }

        &::after {
            content: "";
            position: absolute;
            inset: auto 0 0 auto;
            padding: 6rem;
            background: #dcca87;
            z-index: 3;
        }

        img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            z-index: 2;
        }
    }
}