@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;

.footer{

    &__container{
        background: url('../assets/imgs/history__background.jpg');
    }
    &__overlay{
        background: url('../assets/icons/history__opacity.svg');
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: #f5efdb;
    }

    &__title-1{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #dcca87;
    }

    &__script{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        text-align: center;
        color: var(--ffffff);
    }

    &__address{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #aaa;
    }

    &__phone{
                font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #aaa;
    }

    &__days{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #aaa;
    }


}