@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;


.history{

    &__container{
        background: url('../assets/imgs/history__background.jpg');
    }

    &__container-1{
        background: url('../assets/icons/history__opacity.svg');
    }

    &__container-2{
        background: url('../assets/icons/history__g.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size:50vh;
        width: 100%;
        // background-size: 350px;

        @include desktop-lg{
            padding-left: 50px;
            padding-right: 50px;
        }
        @include desktop{
            padding-left: 20px;
            padding-right: 20px;
        }
        @include tablet{
            padding-left: 20px;
            padding-right: 20px;
            gap: 36px;
        }

        @include mobile{
            padding-left: 10px;
            padding-right: 10px;
            gap: 20px;
        }

        @include mini{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
        }
    }

    &__knife{
        @include mini{
            display: none;
        }
    }

    &__title-1{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        text-align: right;
        color: #dcca87;
        
        @include tablet{
            font-size: 50px;
        }
        @include mobile{
            font-size: 35px;
        }
    }
    &__text-1{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        text-align: right;
        color: #aaa;

        @include desktop{
            font-size: 14px;

        }
        @include mobile{
            margin-bottom: 20px;
        }
    }

    &__btn-1{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #0c0c0c;
        background: #dcca87;
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: #dcca87;

        @include tablet{
            font-size: 50px;
        }
        @include mobile{
            font-size: 35px;
        }
    }

    &__text{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #aaa;

        @include desktop{
            font-size: 14px;
        }
        @include mobile{
            margin-bottom: 20px;
        }
    }

    &__btn{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #0c0c0c;
        background: #dcca87;
    }
    

}