@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;


.navbar{

    &__container{
        background-color: black;
        
        @include desktop{
            padding-left: 16px;
            padding-right: 16px;
        }
        @include tablet{
            padding-left: 5px;
            padding-right: 5px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            flex-wrap: wrap;
        }
        @include mobile{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

    }

    &__list{
        @include tablet{
            display: flex;
            gap: 20px;
        }

        @include mobile{
            gap: 15px;
        }
        @include mini{
            gap: 10px;
        }
    }






    &__logo{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 44px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
        color: var(--ffffff);

        @include tablet{
            font-size: 35px;
        }

        @include mobile{
            font-size: 40px;
        }


    }
    &__item{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: var(--ffffff);

        @include tablet{
            font-size: 14px;
        }
    }
    &__login{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: var(--ffffff);

        @include tablet {
            font-size: 14px;
        }
    }
    &__book{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: var(--ffffff);
        @include tablet{
            font-size: 14px;
        }
    }

    &__contacts{
        @include mini{
            gap: 12px;
        }
    }
}


