@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;


.navbar{
    background: black;


    &__logo{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 44px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
        color: var(--ffffff);
    }

    &__item{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: var(--ffffff);
    }

    &__login{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: var(--ffffff);
    }

    &__book{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: var(--ffffff);
    }

    &__contacts{
        
    }


}


