@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;

.news{
    background: black;

    padding: 64px 252px;

    @include desktop-lg{
        padding: 65px 190px;
    }
    @include desktop{
        padding: 65px 100px;
    }
    @include tablet{
        padding: 65px 70px;
    }
    @include mobile{
        padding: 65px 25px;
    }
    @include mobile{
        padding: 65px 10px;
    }



    &__script{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: var(--ffffff);

        @include tablet{
            margin-bottom: 30px;
        }
    }


    &__title{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: #dcca87;

        @include desktop-lg{
            font-size: 55px;
        }
        @include desktop{
            font-size: 45px;
        }
        @include tablet{
            font-size: 35px;
            padding: 0 0px;
        }
        @include mobile{
            font-size: 29px;
        }
    }

    &__subtext{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: var(--ffffff);
    }

    &__container{
        border: 1px solid rgba(220, 202, 135, 0.2);
        box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
        background: #0c0c0c;
    }

    &__blocks{
        padding: 0 150px;

        @include tablet{
            padding: 0 70px;
        }
    }


    &__button{
        background: #dcca87;
        border: 1px solid #dcca87;
        padding: 8px 32px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #0c0c0c;
    }

    &__form{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        text-align: center;
        color: #aaa;
    }

    &__field{
        border: 1px solid #f5efdb;

    }






}

