@use 'variables' as *;
@use 'fonts' as *;
@use 'breakpoints' as *;  
  
  .testimony{

   &__container{
     background: black;
   }

   &__img{

    @include desktop-lg{
      min-width: 80px;
    }

   }

   &__grid{
    
    @include desktop{
      padding-left: 10px;
      padding-right: 50px;
    }
    
    @include tablet{
      padding-left: 10px;
      padding-right: 5px;
    }
    @include mobile{
      padding-left: 0px;
      padding-right: 0px;
    }
   }

   &__grids{

    @include desktop-lg{
      padding-left: 10px;
      padding-right: 10px;
      display: grid;
      gap: 30px;
    }

    @include desktop{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
    @include mobile{
      display: grid;
      gap: 40px;
    }

   }

   &__subtitle{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--ffffff);
   }

   &__title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #dcca87;

    @include mobile{
      font-size: 45px;
    }
    @include mini{
      font-size: 40px;
    }
   }


   &__text{
    font-family: var(--second-family);
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #aaa;

    @include desktop-lg{
      font-size: 14px;
    }

    @include mobile{
      margin-bottom: 8px;
      font-size: 12px;
    }

   }

   &__names{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #dcca87;

    @include desktop-lg{
      font-size: 28px;
    }
    @include mobile{
      font-size: 24px;
    }
   }

   &__position{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: #f5efdb;

    @include desktop-lg{
      font-size: 14px;
    }
    @include mobile{
      font-size: 12px;
    }
   }
}