@font-face {
    font-family: "Cormorant Upright";
    src: url("/src/assets/fonts/Cormorant-upright/CormorantUpright-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cormorant Upright";
    src: url("/src/assets/fonts/Cormorant-upright/CormorantUpright-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Cormorant Upright";
    src: url("/src/assets/fonts/Cormorant-upright/CormorantUpright-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("/src/assets/fonts/Open-sans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("/src/assets/fonts/Open-sans/OpenSans-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("/src/assets/fonts/Open-sans/OpenSans-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Bestermind";
    src: url("/src/assets/fonts/Bestermind/BestermindRegular.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

:root {
  --font-family: "Cormorant Upright", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Bestermind", sans-serif;
}

:root {
	--ffffff: #fff;
}
